<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header text-center">
                Ingresar
            </div>
            <div class="card-body">
                <form (ngSubmit)="singIn()" #form="ngForm" autocomplete="off">
                    <div class="form-group">
                        <input type="text" name="email" id="" [(ngModel)]='usuario.email' class="form-control" placeholder="email" required autofocus>
                    </div>

                    <div class="form-group">
                        <input type="password" name="password" id="" [(ngModel)]='usuario.password' class="form-control" placeholder="password" required>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block">
                        Ingresar
                    </button>

                    <label class="text-danger">{{message}}</label>
                </form>
            </div>
        </div>

    </div>
</div>
